body {
	padding-top: 120px;
	font-family: Arial;
}

 .container{
	margin: 0 auto;
	width: 500px;
}

a:link, a:visited {
	color: #777;
	border-bottom: 1px dotted #777;
	text-decoration: none;
}

a:hover {
	color: #333;
	border-bottom-color: #333;
}
small {
	color: #999;
	font-style: italic;
}
